<section ng-controller="" class="login-section">
  <div class="login-header">
    <img src="Resources/img/140.png" alt="">
  </div>
  <div class="login-content">
    <form class="login-form" ng-submit="login();">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input class="form-control" id="usuario" type="text" required
            placeholder="Usuario" ng-model="usuario">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="contrasenia">Contraseña</label>
            <input class="form-control" id="contrasenia" type="password" required
            placeholder="contraseña" ng-model="contrasenia">
          </div>
        </div>
        <div class="col-md-6">
          </div>
        <div class="col-md-6">
            <button class="btn btn-default btn-block btn-flat" type="submit" style="background: #f2f2f2;">
                Entrar
            </button>
        </div>
      </div>
    </form>
  </div>
</section>
