<head>
  <script src="maqueta/Resources/libs/js/jquery.min.js" charset="utf-8"></script>
  <!--Bootstrap-->
  <script src="maqueta/Resources/libs/js/bootstrap.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="maqueta/Resources/libs/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <!--AngularJS-->
  <script src="maqueta/Resources/libs/js/angular.min.js" charset="utf-8"></script>
  <!--Route-->
  <script src="maqueta/Resources/libs/js/route.min.js" charset="utf-8"></script>
  <!--CSS Propio-->
  <link rel="stylesheet" href="maqueta/Resources/css/style.css">
  <!--App-->
  <script src="maqueta/Resources/js/app.js" charset="utf-8"></script>
  <script src="maqueta/Resources/js/general/user/userCtl.js" charset="utf-8"></script>
  <script src="maqueta/Resources/js/general/user/userSer.js" charset="utf-8"></script>
</head>

<body ng-app="Store" class="row" style="display:flex; justify-content:center; align-items:center; min-height:130vh;">
  <div class="col-md-8">
    <section class="panel">
      <div class="panel-heading" style="height: 130px; background: #ff505b; display: flex; justify-content: center; align-items: center; color: #fff;">
        <img style="width:40%;"src="maqueta/Resources/img/140.png" alt="">
        <label style="font-size: 1.5em; align-self: flex-end;">Registro de usuario</label>
      </div>
      <div class="panel-body">
        <form class="row" name="formUser" ng-controller="CtlUser">
          <div class="form-group col-md-6">
            <label for="name" class="control-label">Nombres</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="name"  placeholder="Nombres." ng-model="user.nombre" required/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="name" class="control-label">Apellidos</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="name" id="name"  placeholder="Apellidos." ng-model="user.apellido" required/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="name" class="control-label">Tipo Documento</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-download fa" aria-hidden="true"></i></span>
              <select class="form-control" id="selTipoDocumento" ng-model="user.tipo" required>
                <option value="" disabled selected>Seleccione una Opcion</option>
                <option value="CC">Cedula de Ciudadania</option>
                <option value="CE">Cedula de Extranjeria</option>
                <option value="NIT">Numero de Identificacion Tributaria</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="name" class="control-label">Documento</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input type="number" class="form-control" name="name" id="name"  placeholder="Documento." ng-model="user.documento" required/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="email" class="control-label">E-mail</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="email" class="form-control" name="email" id="email"  placeholder="Email." ng-model="user.email" required/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="telefono" class="control-label">Telefono Movil</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
              <input type="number" class="form-control" name="telefono" id="telefono"  ng-model="user.telefono" required/>
            </div>
          </div>
          <hr>
          <div class="form-group col-md-4">
            <label for="email" class="control-label">Pais</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Pais." ng-model="user.pais" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="email" class="control-label">Estado</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Estado." ng-model="user.estado" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="email" class="control-label">Ciudad</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Ciudad." ng-model="user.ciudad" required/>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="email" class="control-label">Direccion</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-home fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  placeholder="Direccion." ng-model="user.direccion" required/>
            </div>
          </div>
          <hr>
          <div class="form-group col-md-4">
            <label for="username" class="control-label">Nombre de usuario</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="user" id="user"  placeholder="Usuario." ng-model="user.usuario" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="confirm" class="control-label">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  placeholder="Ingrese el password." ng-model="user.password" required/>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="confirm" class="control-label">Confirmar password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirmar password." ng-model="user.password1" required/>
            </div>
          </div>
          <div class="col-md-5">

          </div>
          <div class="col-md-3">
            <label style="margin-top: 12px;">Ya tienes una cuenta? <a href="/">Sign In</a></label>
          </div>
          <div class="form-group col-md-4">
            <input type="button" class="btn btn-flat btn-block" ng-click="crearUsuario(formUser.$valid)" value="Registrarse">
          </div>
        </form>
      </div>
    </section>
  </div>
</body>
