<header class="header-fixed">
  <div class="header-content header-logo">
    <img src="maqueta/Resources/img/logo.png" alt="Logo">
  </div>
  <div class="header-content header-search">
    <form class="row">
        <input type="text" class="form-control input-search">
        <buttom type="submit" class="btn btn-search-input">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </form>
  </div>
  <div class="header-content header-menu">
    <ul>
      <li>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </li>
      <li class="user-name-li">German Eduardo</li>
    </ul>
  </div>
</header>
