<section class="panel product-section">
  <div class="panel-heading heading-position-right">
    <a class="btn btn-default options-btn" href="/ProductGrid">
      <i class="fa fa-th-large" aria-hidden="true"></i>
    </a>
    <a class="btn btn-default options-btn options-btn-active" href="/ProductList">
      <i class="fa fa-th-list" aria-hidden="true"></i>
    </a>
  </div>
  <div class="panel-body product-section-list">
    <article class="product-item-list" ng-repeat="obj in productos">
      <div class="product-item-hidden-list">
        <a class="separator" href="/detalle">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <a class="">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>
      </div>
      <div class="product-item-header-list">
        <img src="{[{obj.product.image.large}]}" alt="">
      </div>
      <div class="product-item-price-list">
        <strong>{[{obj.product.price.price}]}</strong>
      </div>
      <div class="product-item-content-list">
        <h5>{[{obj.product.description.title}]}</h5>
        <span>{[{obj.product.description.name}]}</</span>
        <p style="width: 75%;">{[{obj.product.description.description}]}</p>
      </div>
    </article>
  </div>
</section>
