<section class="panel product-section">
  <div class="row" style="margin: 10px; background: #fff; padding: 2%; border-radius: 5px;">
    <div class="col-md-5 flex-centered">
      <img src="maqueta/Resources/img/logo.png" alt="">
    </div>
    <div class="col-md-7 row">
      <div class="col-md-12">
        <h1>Nombre del producto</h1>
      </div>
      <div class="col-md-12">
        <h2>Marca del producto</h2>
      </div>
      <div class="col-md-12">
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a turpis maximus mauris aliquet
          elementum eget at dui. Donec ac velit nec est tempus iaculis nec eget erat. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mattis neque in
          ex fermentum, vitae malesuada odio tempor. Quisque vitae augue neque. Maecenas vitae lorem porta,
          laoreet mi vel, aliquam felis. Ut ut leo ut est egestas euismod non quis leo. Nulla ante orci,
          pharetra non lacinia nec, cursus quis nunc. Proin ac nisl sollicitudin nisi ultrices consequat
          semper at erat.</p>
      </div>
      <div class="col-md-12">
        <br>
        <strong style="font-size:2.5em;">3.000.000</strong>
      </div>
      <div class="col-md-4">
        <br>
        <button type="button" class="btn btn-block btn-flat btn-danger" name="button" ng-click="addTrolley()">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
          Añadir al carrito
        </button>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <label for="cantidad" style="margin-bottom: 0px;">Cantidad</label>
            <input class="form-control" type="number" min="1" value="1" required>
        </div>
      </div>
    </div>
  </div>
</section>
