<section class="panel product-section">  
  <div class="panel-heading heading-position-right">
    <a class="btn btn-default options-btn options-btn-active" href="/ProductGrid">
      <i class="fa fa-th-large" aria-hidden="true"></i>
    </a>
    <a class="btn btn-default options-btn" href="/ProductList">
      <i class="fa fa-th-list" aria-hidden="true"></i>
    </a>
  </div>
  <div class="panel-body product-section-grid">
    <article class="product-item" ng-repeat="obj in productos">
      <div class="product-item-hidden">
        <a class="separator" href="/detalle">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <a class="">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </a>
      </div>
      <div class="product-item-header">
        <img src="{[{obj.product.image.large}]}" alt="" style="padding-top: 100px;">
      </div>
      <div class="product-item-price">
        <strong>{[{obj.product.price.price}]}</strong>
      </div>
      <div class="product-item-content">
        <h4>{[{obj.product.description.title}]}</h4>
        <span>{[{obj.product.description.name}]}</span>
        <p>{[{obj.product.description.description}]}</p>
      </div>
      </article>
  </div>
</section>
